@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  .hamburger.hamburger--squeeze {
    display: block;
    box-shadow: none;
    z-index: 100;
  }

  nav {
    position: fixed;
    z-index: 5;
    width: 100vw;


    & .is-active {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      z-index: 100;
    }

    & .nav-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      padding: 0.5em;
      width: 100%;
      height: 8vh;

      & p {
        color: white;
        font-size: 1.2em;
        display: none;
      }


      .nav-links {
        margin: 0;
        position: fixed;
        z-index: 100;
        right: 0px;
        height: 100vh;
        width: 80%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background-color: #000;
        list-style: none;

        & li {
          opacity: 1;
          padding: .5em 1em;
          text-align: center;
          width: 90%;
          font-weight: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2em;

          & a {
            color: white;
            text-decoration: none;
          }

        }

        & li:nth-child(1) {
          margin-top: 3em;
          border-bottom: 1px solid $primary-gold;
        }

        &.is-active {
          transform: translate(0%);
        }
      }
    }
  }

  // Keyframes Animation for NAV
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  //
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  .hamburger.hamburger--squeeze {
    display: block;
    box-shadow: none;
    z-index: 100;
  }

  nav {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .is-active {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      z-index: 100;
    }

    & .nav-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      height: 8vh;
      padding: 0.5em;
      width: 100%;



      .nav-links {
        margin: 0;
        position: fixed;
        z-index: 100;
        right: 0px;
        height: 100vh;
        width: 80%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background-color: #000;
        list-style: none;

        & li {
          opacity: 1;
          padding: .5em 1em;
          text-align: right;
          width: 90%;
          font-weight: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2em;

          & a {
            color: white;
            text-decoration: none;
          }

        }

        & li:nth-child(1) {
          margin-top: 3em;
          border-bottom: 1px solid $primary-gold;
        }

        &.is-active {
          transform: translate(0%);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  .hamburger.hamburger--squeeze {
    display: none;
    box-shadow: none;
    z-index: 100;
  }

  nav {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;

    & .is-active {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      z-index: 100;
    }

    & .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      padding: 0 1em;
      width: 100%;
      z-index: 1000;
      height: 100%;
      max-width: 1200px;
      margin: auto;

      & p {
        display: block;
        color: white;
        font-size: 1.2em;
      }


      .nav-links {
        margin: 0;
        position: relative;
        z-index: 100;
        right: unset;
        height: auto;
        top: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: unset;
        transition: unset;
        background-color: transparent;
        list-style: none;
        width: auto;

        & li {
          opacity: 1;
          padding: .5em;
          text-align: right;
          width: 90%;
          font-weight: unset;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 1em;

          & a {
            color: white;
            text-decoration: none;

            &:hover {
              color: $primary-gold;
              transition: color .5s;
            }
          }


        }

        & li:nth-child(1) {
          margin-top: 0em;
          border-bottom: none;
        }

        &.is-active {
          transform: translate(0%);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  .hamburger.hamburger--squeeze {
    display: none;
    box-shadow: none;
    z-index: 100;
  }

  nav {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;

    & .is-active {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      z-index: 100;
    }

    & .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      padding: 0;
      width: 100%;
      z-index: 1000;
      height: 100%;
      max-width: 1200px;
      margin: auto;


      .nav-links {
        margin: 0;
        position: relative;
        z-index: 100;
        right: unset;
        height: auto;
        top: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: unset;
        transition: unset;
        background-color: transparent;
        list-style: none;
        width: auto;

        & li {
          opacity: 1;
          padding: .5em;
          text-align: right;
          width: 90%;
          font-weight: unset;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 1em;

          & a {
            color: white;
            text-decoration: none;
          }

        }

        & li:nth-child(1) {
          margin-top: 0em;
        }

        &.is-active {
          transform: translate(0%);
        }
      }
    }
  }
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #000;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: $primary-gold;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner{
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before{
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after{
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner{
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before{
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after{
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
// Vue Transition
